.card-style {
    width: 190px;
    max-width: 200px;
    cursor: grab;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

.card-container {
    display: inline-block;
    position: relative;
    width: 200px;
}

.delete-button {
    display: block;
    max-width: 200px;
    width: 190px;
    margin: -10px 0 5px 0;
    position: relative;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

.card-style.dragging {
    position: absolute; /* or try fixed if absolute doesn’t work */
    z-index: 1;
    opacity: 0.9;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    cursor: grabbing;
    width: 190px;
    max-width: 200px;
}

.hide{
    display: none;
}
