.default-style {
    flex: 1;
    min-height: 200px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    width: 300px;
}

.column-title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.column-content {
    padding: 10px;
    justify-content: center;
    align-items: left;
    margin-bottom: 60px;
}
